@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #C7A446;
    /* Dorado elegante */
    --secondary-color: #2D3035;
    /* Negro carbón intenso */
    --accent-color: #7A8A56;
    /* Verde oliva sofisticado */
    --background-color: #FAFAFA;
    /* Blanco humo muy claro */
    --text-color: #2D3035;
    --font-primary: 'Google Sans', 'Montserrat', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-secondary);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 700;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

button {
    font-family: var(--font-primary);
}

/* Reset básico para inputs */
input,
textarea,
select {
    font-family: var(--font-secondary);
}